[submodule "NaturalResourcesBrush/OptionsFramework"]
	path = NaturalResourcesBrush/OptionsFramework
	url = git@github.com:earalov/OptionsFramework.git
	branch = customization/Skylines-NaturalResourcesBrush
[submodule "NaturalResourcesBrush/RedirectionFramework"]
	path = NaturalResourcesBrush/RedirectionFramework
	url = git@github.com:earalov/RedirectionFramework.git
	branch = customization/Skylines-NaturalResourcesBrush
